.Message {
  bottom: 0;
  font-family: sans-serif;
  font-size: 12px;
  left: 0;
  padding: 10px;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
}

.Message,
.Message a {
  color: gray;
}