.Message {
  bottom: 0;
  font-family: sans-serif;
  font-size: 12px;
  left: 0;
  margin-top: -32px;
  position: absolute;
  right: 0;
  text-align: center;
  top: 50%;
}

.Message,
.Message a {
  color: gray;
}