.Layout-topBar {
  background: rgb(255, 255, 255);
  border-bottom: 1px solid black;
  font-family: sans-serif;
  line-height: 50px;
  text-align: center;
}

.Layout-hamburger {
  font-size: 25px;
  left: 0;
  line-height: 50px;
  padding: 0 12px;
  position: absolute;
}

.Layout-content {
  height: 100%;
}

.Layout-nav {
  background: #ccc;
  border-bottom: rgba(100, 100, 100, 0.3);
  height: 100%;
  padding: 10px;
}

.Layout-navLink,
.Layout-lastNavLink {
  color: black;
  display: block;
  font-family: sans-serif;
  padding: 10px 0;
  text-decoration: none;
}

.Layout-navLink {
  border-bottom: 1px solid rgba(20, 20, 20, 0.3);
}