.Layout {
  bottom: 0;
  left: 0;
  overflow: hidden;
  position: fixed;
  right: 0;
  top: 0;
}

.Layout-topBar {
  background: rgb(255, 255, 255);
  border-bottom: 1px solid black;
  font-family: sans-serif;
  left: 0;
  line-height: 50px;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
}

.Layout-hamburger {
  font-size: 25px;
  left: 0;
  line-height: 50px;
  padding: 0 12px;
  position: absolute;
}

.Layout-content {
  bottom: 0;
  left: 0;
  overflow: scroll;
  position: absolute;
  right: 0;
  top: 51px;
}

.Layout-nav {
  background: #ccc;
  border-bottom: rgba(100, 100, 100, 0.3);
  bottom: 0;
  left: -192px;
  padding: 10px;
  position: absolute;
  top: 0;
  width: 192px;
}

.Layout-scroller {
  height: 100%;
  width: 100%;
}

.Layout-navLink,
.Layout-lastNavLink {
  color: black;
  display: block;
  font-family: sans-serif;
  padding: 10px 0;
  text-decoration: none;
}

.Layout-navLink {
  border-bottom: 1px solid rgba(20, 20, 20, 0.3);
}